<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="{{url_for('inicio')}}">Inicio</a></li>
                    <li><a href="{{url_for('contato')}}">Contate-me</a></li>
                </ul>
            </nav>
        </div>
    </header>
        {%block conteudo%}
        {%endblock%}
    <footer>
        <p>isto é apenas um teste</p>
    </footer>
</body>
</html>